<!DOCTYPE html>
<html>
<head>
<title>Bulk Order form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Teemate</title>
    <!-- Bootstrap core CSS "favicon?" -->
     <link rel='shortcut icon' href='assets/img/favicon.png' type='image/x-icon'/ >
	<link href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Fontawesome core CSS -->
    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--Slide Show Css -->
    <link href="assets/ItemSlider/css/main-style.css" rel="stylesheet" />
    <!-- custom CSS here -->
    <link href="assets/css/style.css" rel="stylesheet" />
	<script src="assets/js/jquery-1.10.2.js"></script> 
	<script>
    $(function(){
      $("#includeHeader").load("header.html"); 
    });	
	 $(function(){
      $("#includeFooter").load("footer.html"); 
    });
    </script> 
</head>
<body>
	<div id="includeHeader"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="main box-border">
					<header><h1><center><u>Our Team<u></center></h1></header>
					<div class="row">
							<div class="col-md-1 col-sm-1">
								<img src="assets/img/atul_agarwal.jpg" width="215" height="215" alt="img01">
							</div>
							<div class="col-md-5 col-sm-5">
									<label for="atul">Atul Agarwal</label>		
									<p>he sjdjdjdjfkj</p>
							</div>
							<div class="col-md-1 col-sm-1">   
								<img src="assets/img/adarsh_agarwal.jpg" alt="img02">
							</div>
							<div class="col-md-5 col-sm-5">
								<label for="atul">Adarsh Agarwal</label>		
								<p>he sjdjdjdjfkj</p>
							</div>		
					</div>
						

	<div id="includeFooter"></div>
	
</body>
</html>